@charset "utf-8";

.note-title {
  text-align: center;
}

.note-author {
  display: none;
}

.note-content img {
  border: 2px solid #81abc7;
  padding: 5px;
  display: block;
  margin: 10px auto;
}

.note-info {
  line-height: 24px;
  margin: 10px 0;
}

.note-category, .note-tag {
  margin: 0 5px;
}