@charset "utf-8";

/* for specific read page */
.read-title {
  text-align: center;
}

.read-list {
  line-height: 24px;
}

/* for reading page */
.reading-title {
  text-align: center;
}

.reading-list {
  line-height: 24px;
}